#skills{
    background-color: #ffc478;
    background-image: linear-gradient(135deg, #ffc478, #ffc478);
    border-top: 0;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 85.8%);
    height: 100%;
    padding-bottom: 10%;
}
@media screen and (max-width: 666px) {
    #skills{
        clip-path: none;
    }
}
.skills-wrapper{
    max-width: 1280px;
    width: 100%;
    padding: 0 8%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
}

